<div id="<%= dom_id rail %>">
  <p>
    <strong>Reservation:</strong>
    <%= rail.Reservation %>
  </p>

  <p>
    <strong>Passenger:</strong>
    <%= rail.passenger_id %>
  </p>

  <p>
    <strong>Trip:</strong>
    <%= rail.trip_id %>
  </p>

</div>
